<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usuario.trabajo_app19_android" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividad_Linear_layout"
            android:label="@string/title_activity_actividad__linear_layout" >
        </activity>
        <activity
            android:name=".Actividad_table_layout"
            android:label="@string/title_activity_actividad_table_layout" >
        </activity>
        <activity
            android:name=".Actividad_grid_layout"
            android:label="@string/title_activity_actividad_grid_layout" >
        </activity>
        <activity
            android:name=".Actividad_relative_layout"
            android:label="@string/title_activity_actividad_relative_layout" >
        </activity>
        <activity
            android:name=".Actividad_botones"
            android:label="@string/title_activity_actividad_botones" >
        </activity>
        <activity
            android:name=".Actividad_toggleButton"
            android:label="@string/title_activity_actividad_toggle_button" >
        </activity>
        <activity
            android:name=".Actividad_texto_imagen"
            android:label="@string/title_activity_actividad_texto_imagen" >
        </activity>
        <activity
            android:name=".Actividad_checkbox"
            android:label="@string/title_activity_actividad_checkbox" >
        </activity>
    </application>

</manifest>
